[workspace]
resolver = "2"
members = ["borang", "borang-macros", "borang-docs", "jspackages"]

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
